.single-product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.img-section{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img{
    width: 180px;
}
.product-name{
    color: blue;
    font-weight: 500;

}
.category{
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 14px;
    line-height: 2px;
}
.description{
    text-align: justify;
    color: rgb(53, 53, 53);
}
.buyBtn{
    background-color: orangered;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
}
.buyBtn:hover{
    background-color: tomato;
    letter-spacing: 2px;
   
}
.price-rate{
  position: relative;
}

.rating{
  position: absolute;
  right: 50px;
  top: 0;
   
}